<html>
    <head>
        <title>Poupoule'sblog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Le blog d'une Django Girl</a></h1>
        </div>

        <div>
            <p>published: 20.10.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Retour sur mon expérience Django Girls !</p>
        </div>

        <div>
            <p>published: 19.10.2019, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Cachemire ou not cachemire ? Entre douceur et respect de l'environnement. </p>
        </div>
    </body>
</html>